.bbox_selector
{
    overflow-x: hidden;
    overflow-y: auto;

    min-width: 50px;
    max-height: 100px;
    margin: 0;
    padding: 0;

    text-align: center;

    border: 1px solid white;
    border-radius: 3px;
    background-color: gray;
}

.bbox_tag
{
    display: block;

    color: #333;
    &:hover,
    &:focus
    {
        color: white;
        background: #3a89c9;
    }
}

.bbox_confirm_button
{
    font-size: 1rem;

    width: 30px;
    height: 30px;
    padding: 0 0 2px;

    color: #333;
    border: 1px solid white;
    border: none;
    border-radius: 50%;
    background-color: gray;

    &:hover
    {
        color: white;
        background-color: #3a89c9;
    }
}
